@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #1d4ed8;
}

@layer base {
  h1 {
    @apply mb-4 text-4xl font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .input {
    @apply rounded-md border-2 border-primary p-2;
  }

  .button {
    @apply rounded-md bg-primary p-2 text-background;
  }
}
